<div class="available_flights">
    <div class="container">
        <div class="row">
            <p class="h3 text-center">Vuelos Disponibles</p>
        </div>
        <div class="marquee"><p class="h6">{{ data_api_flights }}</p></div>
    </div>
</div>
<div class="fly_selector">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="input-container">
                    <input (keyup)="onInputOriginChange($event)" type="text" id="inputOrigin" required="">
                    <label for="input" class="label">Origin</label>
                    <div class="underline"></div>
                </div>
            </div>
            <div class="col">
                <div class="input-container">
                    <input (keyup)="onInputDestinationChange($event)" type="text" id="inputDestination" required="">
                    <label for="input" class="label">Destination</label>
                    <div class="underline"></div>
                </div>
            </div>
            <div class="col">
                <div class="input-container">
                    <input (keyup)="onInputCurrencySelector($event)" type="text" id="inputCurrencySelector" required="">
                    <label for="input" class="label">Currency Selector</label>
                    <div class="underline"></div>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <button (click)="getSpecifyFlight()" type="button" class="btn btn-success">SEARCH</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isDisplayed" class="response_api">
    <div class="container">
        <p class="h1">Vuelo De: {{ txtInputOrigin }}, hacia: {{ txtInputDesination }}</p>
        <p class="h4">Total PRICE: {{ txtTotalPrice }}</p>
        <p class="h4">Total Flights:{{ txtCountFlights }}<br> {{ txtTotalFlights }}</p>
        <p class="h4">Flights: {{ txtSpecifyFlights }}</p>
        <p class="h8">{{ txtMsg }}</p>
    </div>
</div>