<div class="available_flights">
    <div class="container">
        <div class="row">
            <p class="h3 text-center">Vuelos Disponibles</p>
        </div>
        <div class="marquee"><p class="h6">{{ data_api_flights }}</p></div>
    </div>
</div>
<div class="fly_selector">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="input-container">
                    <input (keyup)="onInputOriginChange($event)" type="text" id="inputOrigin" required="">
                    <label for="input" class="label">Origin</label>
                    <div class="underline"></div>
                </div>
            </div>
            <div class="col">
                <div class="input-container">
                    <input (keyup)="onInputDestinationChange($event)" type="text" id="inputDestination" required="">
                    <label for="input" class="label">Destination</label>
                    <div class="underline"></div>
                </div>
            </div>
            <div class="col">
                <div class="input-container">
                    <input (keyup)="onInputCurrencySelector($event)" type="text" id="inputCurrencySelector" required="">
                    <label for="input" class="label">Currency Selector</label>
                    <div class="underline"></div>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <button (click)="getSpecifyFlight()" type="button" class="btn btn-success">SEARCH</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isDisplayed" class="response_api">
    <div class="container">
        <div *ngIf="flights.length === 0">
            <h1>No hay Datos Disponibles</h1>
        </div>
        <h2>Precio total del vuelo: {{ txtTotalPrice | currency }}</h2>
        <h2>Total de Escalas: {{ flights.length  }}</h2>
        <div *ngIf="flights.length > 0" class="row">
            <div class="col" *ngFor="let flight of flights; let i=index">
                <div class="card">
                    <img class="card-img-top" src="../../../assets/img/images/plane.jpg" alt="plane gta sa">
                    <div class="card-body">
                      <h5 class="card-title">Vuelo {{ i + 1 }}</h5>
                      <p class="card-text">Vuelo de {{ flight.origin }} hacia {{ flight.destination }} por tan solo ${{ flight.price }}USD </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <i>{{ txtMsg }}</i>
    </div>
</div>