/*!
Header
*/
.header{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/img/banner/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ico_ns{
    max-width: 100px;
    max-height: 100px;
}
/*!
END Header
*/




/*!
FOOTER
*/
.footer{
    background-color: #343840;
    padding: 0 0 49px 0;
}

.footer-line-elements{
    padding-top: 2%;
}

.autor_footer_text_name{
    color: white;
}

.ul_footer_links{
    display:flex;
    list-style: none;
}

.li_footer_links{
    margin-left: 1%;
    margin-right: 1%;
}

.ico-footer-link{
    color: black;
}

.privacy_policy_link{
    color: #6e7884;
    text-decoration:none;
}
/*!
END FOOTER
*/